@model Product

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h1>Delete Product</h1>
       
            <div class="mb-2">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
             
            </div>
            <div class="mb-2">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" />
            </div>
            <div class="mb-2">
                <label asp-for="Author"></label>
                <input asp-for="Author" class="form-control" />
            </div>
            <div class="text-end">
                <button type="submit" class="btn btn-primary">Delete</button>
                <a asp-controller="Product" asp-action="Index" class="btn- btn-secondary">Back</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
